<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.hualu.zlib">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.FLASHLIGHT" />

  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <!-- 这个权限用于进行网络定位-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
  <!-- 这个权限用于访问GPS定位-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
  <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
  <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
  <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <!-- 访问网络，网络定位需要上网-->
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <!--用于申请调用A-GPS模块-->
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>

  <application
    android:networkSecurityConfig="@xml/network_security_config"
    android:usesCleartextTraffic="true">

<!--    3e8144c6a77f7903f9dedef8cdba136b-->

    <service android:name="com.amap.api.location.APSService"></service>

    <activity
        android:name="com.hualu.zlib.activity.CaptureActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Black.NoTitleBar" >

    </activity>
    <activity
        android:name="com.hualu.zlib.activity.ResultActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Black.NoTitleBar" />

    <activity
      android:name="com.hualu.zlib.activity.DiseaseListActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Light.NoTitleBar" />

    <activity android:name=".activity.SignResultActivity"
      android:theme="@android:style/Theme.Light.NoTitleBar"/>
  </application>
</manifest>